<p>
  <span>
    <% if list.users.count == 1 %>
    <% elsif list.users.count == 2 %>
      avec <%= list.users[0].username%>
    <% else %>
      avec
         <% list.users[0..-2].each do |lu|%>
        <%= lu.username%>,
        <% end %>
    <% end %>
  </span>
</p>
