<%= form_tag url_for(action: action), method: method, class:"p-4", remote: true do %>
  <%= text_field_tag "listname", prefill1, placeholder: holder1, class:"form-control"%>
  <%= select_tag "tag", options_for_select(List::TAG_LIST, @list.tag), class:"form-control"%>
  <%= text_field_tag "description", prefill3, placeholder: holder3, class:"form-control"%>
  <%= submit_tag button_text, class: "btn btn-primary my-2", id:"form_button"%>
<% end %>
