<div class="col-5 m-3 p-3 form new_list_form">
  <%= render partial: "form", locals:{action: "create", method: "post", button_text: "ajouter", holder1: 'Nom de la liste', holder3: 'description, optionnelle' , prefill1: "", prefill2: "", prefill3: ""} %>
</div>
