<% if list.archived%>
<div class="col-5 m-3 p-4 form archived_list" id="list<%= list.id %>_form">
<% else %>
<div class="col-5 m-3 p-4 form" id="list<%= list.id %>_form">
<% end %>
  <div class="py-3 px-1" id="list<%= list.id %>_body"><!--list body-->
    <div class="container p-3" id="list<%= list.id%>_head">
      <div class="row my-0 p-3">
        <div class="w-100">
          <p>
            <% if list.archived %>
              <span>[terminée]</span>
            <% end %>
            <strong><%= list.listname%></strong>
          </p>
        </div>
        <p class="small"><%= list.description%></p>
      </div>
      <div class="row pt-2 pb-1 px-3" >
        <div class="col">
          <p><span>catégorie: <%= list.tag%></span></p>
        </div>
        <div class="pb-0 col" id="list<%= list.id%>_button_group col">
          <%= link_to new_list_task_path(list), title:"nouvelle tâche", id: "new_task#{list.id}", remote: true do %>
            <i class="fas fa-plus-circle"></i>
          <% end %>
          <%= link_to edit_list_path(list), title:"modifier détails de la liste", id: "edit_list#{list.id}", method: :get, remote: true do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to list_path(list), title:"supprimer cette liste", id: "delete_list#{list.id}", method: :delete, remote: true do %>
            <i class="far fa-trash-alt pr-1 pl-2"></i>
          <% end %>
          <%= link_to new_list_list_user_path(list), title: "inviter un utilisateur à collaborer", id: "add_link#{list.id}", method: :get, remote: true do %>
            <i class="fas fa-user-plus"></i>
          <% end %>
        </div>
      </div>
      <div class="row px-3" id="list<%= list.id%>_users_count">
        <%= render partial: "lists/count", locals:{list: list}%>
      </div>
      <div id="list<%= list.id%>_edit_zone"><!--meant to be blank-->
      </div>
    </div>
    <div class="pt-3 pb-2" id="list<%= list.id%>_content" >
      <%= render partial:"tasks/show", locals: {list: list}%>
    </div>
  </div><!-- end of list body-->
</div>
