<div class="container px-5 py-3">
  <div class="row p-5">
    <div class="col-8 col px-5">
      <div class="form p-5 text-center">
        <h2>Renvoyer les insctruction de modification de mot de passe</h2>

        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <label for="email">Mon adresse mail :</label><br>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
          </div>

          <div class="actions">
            <%= f.submit "Resend confirmation instructions", class:"btn btn-primary my-3" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
