<div class="container px-5">
  <div class="row p-5">
    <div class="col-8 col px-5 justify-center">
      <div class="form p-5 text-center">
        <h2>Modifier <%= resource_name.to_s.humanize %></h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <label for="email">Mon adresse mail :</label><br>
            <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>En attente de l confirmation de l'adresse: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <label for="password">Nouveau mot de passe <i>(à saisir seulement en cas de changement)</i> :</label><br>
            <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> caractères au minimum</em>
            <% end %>
          </div>

          <div class="field">
            <label for="password_confirmation">Confirmer le nouveau mot de passe :</label><br>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
          </div>

          <div class="field">
            <label for="current_password">Saisir le mot de passe actuel pour confirmer la modification :</label><br>
            <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Mettre à jour", class:"btn btn-primary my-3" %>
          </div>
        <% end %>

        <h3>Supprimer mon compte</h3>

        <p>Colab ne vous convient plus ? <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-primary my-3" %></p>

        <%= link_to "Back", :back %>

      </div>
    </div>
  </div>
</div>
