<div class="container px-5">
  <div class="row p-5">
    <div class="col-8 col px-5 justify-center">
      <div class="form p-5 text-center">
        <h2>M'inscrire</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field">
            <label for="email">Mon adresse mail :</label><br>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
          </div>
          <div class="field">
            <label for="username">Donnez-vous un username cool :</label><br>
            <%= f.text_field :username, autofocus: true, class:"form-control" %>
          </div>

          <div class="field">
            <label for="password">Mon mot de passe :</label><br>
            <% if @minimum_password_length %>
            <em>(au moins <%= @minimum_password_length %>caractères)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
          </div>

          <div class="field">
            <label for="password_confirmation">Confirmer mon mot de passe :</label><br>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Inscription", class:"btn btn-primary my-3" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
