<p style="color: #1E1E40;">Felicitations!</p>
<br>
<p>Votre avez fini toutes les tâches sur la liste <br>
  <span style="color: #1E1E40;"><%= @list.listname %></span><br>
  crée le <%= @list.created_at.to_date %> !</p>

<p>Courage pour la suite ! </p>
<p>Equipe Colab</p>
