<%= form_tag url_for(action: action), method: method, class:"form_new_edit px-3", remote: true do %>
  <%= text_field_tag "title", prefil, placeholder: holder  ,class:"form-control"%>
  <%= submit_tag button_text, class:"btn btn-primary my-2", id:"form_button"%>
<% end %>
