<% list.tasks.sort_by{|t| t.finished ? 1:0}.each do |t|%>

  <div class="row justify-content-between task" id="task<%=t.id%>">
    <div class="row">
      <div class="col-1"><!--the checkbox-->
        <% if !t.finished%>
          <%= link_to list_task_finish_path(list, t), method: :put, remote: true do %>
            <i class="far fa-check-square"></i>
          <% end %>
        <% end %>
      </div>
      <div class="col-8"><!--the task itself-->
        <div class="container">
          <div class="row">
            <% if t.finished == true %>
              <p class="crossed"><%=t.title %></p>
            <% else %>
              <p><%=t.title %></p>
            <% end %>
          </div>
          <div class="row">
            <% if t.finished == true %>
              <p><span>terminé par <%=t.finisher.username%> le <%= t.updated_at.to_date%></span></p>
            <% else %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-3"><!--the button group-->
        <% if !t.finished%>
          <%= link_to edit_list_task_path(list, t), method: :get, remote: true do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to list_task_path(list, t), method: :delete, remote: true do %>
            <i class="far fa-trash-alt pr-1 pl-2"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
