// line 2 declares var without using keyword "let" nor "var"
// otherwise can't press "new" twice within same page without refreshing
list_id = <%= params[:list_id]%>;
$("#new_task"+list_id).css("display","none");
$("#list"+list_id+"_content").prepend("<%= escape_javascript(render 'tasks/form', action: 'create', method: 'post', button_text:'Ａjouter', prefil: '', holder:'Que souhaitez-vous faire ?') %>");
