<% if user.lists.count == 0 %>
  <p>Cet utilisateur n'a pas encore de liste</p>
<% else %>
  <% user.lists.each do |l| %>
    <div class="col-5 form m-2 p-2">
      <div >
        <p>
        <% if l.archived%>
          <span>[terminée]</span>
        <% end %>
        <strong>(<%= l.id%>)  <%= l.listname%></strong></p>
        <p>
          <span>cat: <%= l.tag%></span>
        </p>
        <p><%= l.description%></p>
      </div>
      <div class="">
        <p>
          <span>
            <% l.users.each do |u|%>
            <%= u.username %>,
            <% end %>
          </span>
        </p>
      </div>
      <div class="">
        <%= render partial:"list_detail", locals:{list: l}%>
      </div>
    </div>
  <% end %>
<% end %>
