<% list.tasks.each do |t| %>
<div class="">
  <p>
    <%= t.title%>
    <% if t.finished %>
      <span>terminé par <%= t.finisher.username%> le <%= t.updated_at.to_date%> </span>
    <% else %>
      <span> en cours</span>
    <% end %>
  </p>
</div>
<% end %>
