  <div class="col-1">
    <p><strong><%=u.id %></strong></p>
  </div>
  <div class="col-1">
    <% if u.is_admin %>
      <i class="fas fa-user-cog" title="administrateur du site"></i>
    <% end %>
  </div>
  <div class="col-3">
    <p><%=u.username %></p>
  </div>
  <div class="col-5">
    <p><%=u.email %></p>
  </div>
  <div class="col-2">
    <%= link_to user_path(u), id: "delete_u#{u.id}", title: "supprimer cet utilisateur", method: :delete, remote: true do %>
      <i class="fas fa-user-times mr-5"></i>
    <% end %>
    <%= link_to user_path(u), id: "goto_u#{u.id}", title: "voir toutes les listes de cet utilisateur", method: :get, remote: true do %>
      <i class="far fa-eye"></i>
    <% end %>
