<div class="container py-5">
    <div class="form mb-5 p-5">
      <h2>Dashboard</h2>

    <table>
      <td><i class="fas fa-user-friends"></i><%= User.all.count %></td>
      <td><i class="fas fa-list-ol"></i><%= List.all.count %></td>
      <td><i class="fas fa-thumbtack"></i><%= Task.all.count %></td>
    </table>
    <%= link_to 'retourner au profil', user_path(current_user), class:"btn btn-primary my-2"%>

  </div>

  <div class="form container my-3">
    <div class="row m-3 p-5">
      <div class="col-1 header">
        <h4>Id</h4>
      </div>
      <div class="col-1 header">
      </div>
      <div class="col-3 header">
        <h4>Username</h4>
      </div>
      <div class="col-5 header">
        <h4>Adresse mail</h4>
      </div>
      <div class="col-2 header">
      </div>
    </div>
    <div class="container my-5 pb-5 px-5">
      <% @users.each do |u| %>
        <div class="row user_section my-5 py-1" id="section_u<%=u.id %>">
          <%= render partial: "user_section", locals:{u: u}%>
        </div>
        <div class="row w-100 justify-content-around hidden" id="user_lists<%= u.id %>">
            <%= render partial: "detail", locals:{user: u}%>
        </div>
      <% end %>
    </div>
  </div>
