result = <%= @user.search(params[:search_field]).count%>
if(result === 0){
  alert("Vous n'avez pas de tâche contenant ce mot clé. Veuillez rafraîchier la page pour continuer.");
}
else{
  $(".all_lists").html("<%= escape_javascript(render 'lists/index', lists: @user.search(params[:search_field])) %>");
  $(".archived_list").removeClass("archived_list");
}
