<div class="container centered">
  <div class="row justify-content-between flex-wrap w-100">
    <div class="col-9">
      <div class="container justify-content-center">
        <div class="form py-3 px-5 my-5">
          <div class="row">
            <h2>Bonjour, <%= @username%></h2>
          </div>
          <div class="row">
            <p>Vous avez <%= @user.lists.count%> liste(s), dont <%= @ok%> archivée(s).</p>
          </div>
          <div class="row m-3 p-3">
            <%= form_tag user_search_path(@user), method: :get, class:"form-inline w-100 m-0 p-0", remote: true do %>
              <%= text_field_tag "search_field", "", class:"form-control w-75", placeholder:"Cherchez des tâches par mot clé parmi votre historique"%>
              <%= submit_tag "Chercher", id:"search_button", class: "btn btn-primary mx-2"%>
            <% end %>
          </div>
          <div class="row">
            <div class="col button">
                <%= link_to "Créer une liste", new_list_path, class:"btn btn-primary new_list_btn", remote: true%>
            </div>
            <div class="col button">
                <%= link_to "Voir toutes mes listes", user_show_archived_path(@user), title: "Voir toutes vos listes de tâches, y compris celles qui sont achivées", class:"btn btn-primary", remote: true%>
            </div>
            <% if @user.is_admin%>
              <div class="col button">
                <%= link_to "Admin Board", users_path, class:"btn btn-primary"%>
              </div>
            <% end %>
          </div>

        </div>
      </div>
      <div class="row justify-content-between flex-wrap all_lists">
        <%= render partial: "lists/index", locals:{lists: @lists}%>
      </div>
      </div>
    </div>
  </div>
</div>
