<div class="container px-5">
  <div class="row p-5">
    <div class="col-8 col px-5 justify-center">
      <div class="form p-5 text-center">
        <h2>Modifier mon mot de passe</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>

          <div class="field">
            <label for="password">Nouveau mot de passe :</label><br>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> caractères au minimum)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"form-control" %>
          </div>

          <div class="field">
            <label for="password_confirmation">Confirmer le mot de passe :</label><br>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Modifier mon mot de passe", class:"btn btn-primary my-3" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>

      </div>
    </div>
  </div>
</div>
