<div class="container px-5">
  <div class="row p-5">
    <div class="col-8 col px-5 justify-center">
      <div class="form p-5 text-center">
        <h2>Mot de passe oublié ?</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <label for="email">Mon adresse mail :</label><br>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control"%>
          </div>

          <div class="actions">
            <%= f.submit "Recevoir les instructions", class:"btn btn-primary my-3" %>
          </div>
        <% end %>
        <div class="">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
