<p>(Ce mail est une simulation du rapport journalier, il s'envoie toutes les 10 min)</p>
<p>Cher administrateur</p>

<p>Colab en 6 chiffres:</p>
<p><strong><%= @nb_users %></strong> utilisateurs dont </p>
<p><strong><%= @new_users %></strong> créés au cours des 10 dernières minutes.</p>

<p><strong><%= @nb_tasks %></strong> tâches dont </p>
<p><strong><%= @new_tasks %></strong> créées au cours des 10 dernières minutes et </p>
<p><strong><%= @new_finish %></strong> terminées au cours des 10 dernières minutes et </p>
