<div class="container px-5">
  <div class="row p-5">
    <div class="col-8 col px-5 justify-center">
      <div class="form p-5 text-center">
        <h2>Me connecter</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <label for="email">Mon adresse mail :</label><br>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
          </div>

          <div class="field mt-3">
            <label for="password">Mon mot de passe :</label><br>
            <%= f.password_field :password, autocomplete: "current-password", class:"form-control"  %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <label for="remember_me">Je veux rester connecté :</label><br>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Connexion", class:"btn btn-primary my-3" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
