/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root{
  --deep: #1E1E40;
  --warning: #FFD193;
  --success: #4cbaa3;
  --text: #343d5a;
  --light:#BCC9D1;
  --ulight:	#EAF4F3;
}

html{
  height: 100%;
}

body{
  min-height: 100%;
  background-image: url("form-bg1.png");
  background-repeat: repeat;
}

p{
  font-size: 20px;
  margin: 0px !important;
  text-align: justify;
  font-family: "Open Sans Condensed";
}


p .small{
  font-size: 15px;
}

h2, h4{
  font-family: Pacifico;
}

li{
  list-style: none;
}

td, th{
  padding: 1em 2em;

}

i{
  padding: 0.5em 0.3em;
}

span{
  font-size: 13px;
  margin: 0px !important;
  line-height: 0px;
}

strong{
  font-size: 20px;
}
.body{
  margin: 0 !important;
  padding: 0 !important;
  color: var(--deep);
  font-family: "Open Sans";
  min-height: 100%;
}

.container{
  margin: 0 auto !important;
  padding: auto 3em  !important;
}
.bg-deep{
  background-color: var(--deep);
}

.form{
  border-radius: 1em;
  background-color: rgba(230,230,230, 0.8);
}

.form:hover{
  box-shadow: 0 5px 15px rgba(52, 61, 90, 0.4);

}

.btn{
  box-shadow: 2px 2px 2px #888888;
  font-size: 12px;
  font-weight: bold;
  color: var(--light);
  padding: 0.6em;
  margin:auto;

}
.btn-primary{
  background-color: var(--deep);
  border-color: var(--deep);
}
.btn-primary:hover{
  box-shadow: 0px 0px 0px #888888;
  background-color:var(--deep);
  border-color:var(--deep);
}

.btn-primary:active:hover{
  box-shadow: 0px 0px 0px #888888;
  background-color:var(--deep);
  border-color:var(--deep);
}

.devise_links, a{
  color: var(--deep);
}

.card{
  background-color: inherit;

}

.card-body{
  background-color: inherit;
}
.finished{
  color: white;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11 .col-12{
  margin: 0px auto;
  padding: 0px !important;
  padding-right: 0px !important;
}
.archived_list, .hidden{
  display: none;
}
.header{
  font-size: large;
  font-weight: bold;
}

.task{
  font-family: "Open Sans Condensed";
}

.small{
  font-size: 14px;
}
.finished-task{
  text-decoration: line-through;
}
.row{
  width: 100% !important;
  margin: 0px !important;
  vertical-align: baseline;
  flex-wrap: wrap;
}

.crossed{
  text-decoration: line-through;
}

.empty{
  visibility: hidden;
}
