<%= form_tag url_for(action: "create"), class: "invite_user", method: "post", remote: true do %>
  <%= select_tag "email", options_for_select(User.all.map{|u| u.email}-List.find(params[:list_id]).users.map{|u| u.email}, @link.user) ,class:"form-control"%>
  <%= submit_tag "Inviter", class:"btn btn-primary my-2" %>
<% end %>
