<nav class="navbar navbar-expand-xl navbar-dark bg-deep">
<%=link_to root_path, class:"navbar-brand" do %>
 <h2>COLAB</h2>
<% end %>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarsExample06">
  <ul class="navbar-nav mr-auto">
    <% if !current_user%>
      <li class="nav-item">
        <%= link_to 'Connexion', new_user_session_path, class:"nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Inscription', new_user_registration_path, class:"nav-link"%>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, class:"nav-link"%>
      </li>
    <% end %>

  </ul>

</div>
</nav>
